---
layout: compress
---

{% include base_path %}

<!doctype html>
<html lang="{{ site.locale | slice: 0,2 }}" class="no-js">
  <head>
    {% include head.html %}
    {% include head/custom.html %}
  </head>

  <body>

    {% include browser-upgrade.html %}
    {% include masthead.html %}

    {{ content }}

    <div id="map-container">
      <script type="text/javascript" id="clustrmaps" src="//cdn.clustrmaps.com/map_v2.js?cl=9f9f9f&w=600&t=tt&d=B9UobSFA0_VBpdODQqAwoKh0kULg9emDhv4XjtLg3QU&co=ffffff&cmo=3acc3a&cmn=ff5353&ct=808080"></script>

    
    <style>
      /* Default size for desktop */
      #map-container {
        width: 600px;
      }
    
      /* Media query for tablets and smaller screens */
      @media (max-width: 1024px) {
        #map-container {
          width: 600px;
        }
      }
    
      /* Media query for mobile devices */
      @media (max-width: 468px) {
        #map-container {
          width: 100%;
        }
      }
    </style>
    </div>    
            
    <div class="page__footer">
      <footer>
        {% include footer/custom.html %}
        {% include footer.html %}
      </footer>
    </div>

    {% include scripts.html %}

  </body>
</html>
